<template>
  <div>
    <div v-if="comic" class="comic-details">
      <img
          :src="comic.thumbnail.path + '.' + comic.thumbnail.extension"
          alt="Thumbnail"
          class="comic-image-con"
      />
      <h2 class="comic-title">{{ comic.title }}</h2>
      <p class="comic-description">{{ comic.description }}</p>
      <ul class="comic-creators">
        <li v-for="creator in comic.creators" :key="creator.name">{{ creator.name }}</li>
      </ul>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  computed: {
    ...mapGetters(['getComicById']),
    comic() {
      const comicId = this.$route.params.id;
      return this.getComicById(parseInt(comicId));
    },
  },
};
</script>

<style lang="scss">
body {
  background-color: black; /* Set the background color to black */
}

.comic-image-con {
  max-height: 400px;
  width: auto;
  display: block;
  margin: 0 auto;
  text-align: center; /* Center the image horizontally */
}

</style>
