<template>
  <div class="body">
    <div :style="backgroundStyle" class="background-header-image">
      <img
          v-if="comics.length > 0"
          :src="getThumbnailURL(comics[comics.length - 14]?.thumbnail)"
          alt="Thumbnail"
          class="comic-header-image"
          @click="navigateToFav(comics[comics.length - 14]?.id)"
          style="object-fit: cover; width: 70%; height: 100%;"
      />
      <h2 class="comic-header" v-if="comics.length > 18">{{ comics[comics.length - 14]?.title }}</h2>
      <button v-if="comics.length > 14" @click="navigateToFav(comics[comics.length - 14]?.id)" class="detail-button">Detaya Git</button>
    </div>

    <h2 class="sub-title">
       Çizgi Romanlar - Kategori 1
      <span class="favorite-count">Favoriler: {{ favoriteCount }}</span>
    </h2>
    <div class="comics-list-container">
      <div class="scroll-button left" @click="scrollLeft">&#8249;</div>
      <div class="scroll-button right" @click="scrollRight">&#8250;</div>
      <div class="comics-list" ref="comicsList3">
        <div class="grid-container">
          <div v-for="comic in sciFiComics" :key="comic.id" class="comic-card">
            <div class="comic-favorite" @click="toggleFavorite(comic)">
              <i class="heart-icon fas fa-heart" :class="{ 'favorite': isFavorite(comic) }"></i>
            </div>
            <img
                :src="getThumbnailURL(comic.thumbnail)"
                alt="Thumbnail"
                class="comic-image"
                @click="navigateToFav(comic.id)"
            />
            <div class="comic-details">
              <h2 class="comic-title">{{ comic.title }}</h2>
              <ul class="comic-creators">
                <li v-for="creator in comic.creators.items" :key="creator.name">{{ creator.name }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h2 class="sub-title">
      Çizgi Romanlar - Kategori 2
      <span class="favorite-count">Favoriler: {{ favoriteCount }}</span>
    </h2>
    <div class="comics-list-container">
      <div class="scroll-button left" @click="scrollLeft">&#8249;</div>
      <div class="scroll-button right" @click="scrollRight">&#8250;</div>
      <div class="comics-list" ref="comicsList2">
        <div class="grid-container">
          <div v-for="comic in sciFiComics" :key="comic.id" class="comic-card">
            <div class="comic-favorite" @click="toggleFavorite(comic)">
              <i class="heart-icon fas fa-heart" :class="{ 'favorite': isFavorite(comic) }"></i>
            </div>
            <img
                :src="getThumbnailURL(comic.thumbnail)"
                alt="Thumbnail"
                class="comic-image"
                @click="navigateToFav(comic.id)"
            />
            <div class="comic-details">
              <h2 class="comic-title">{{ comic.title }}</h2>
              <ul class="comic-creators">
                <li v-for="creator in comic.creators.items" :key="creator.name">{{ creator.name }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h2 class="sub-title">
      Çizgi Romanlar - Kategori 3
      <span class="favorite-count">Favoriler: {{ favoriteCount }}</span>
    </h2>
    <div class="comics-list-container">
      <div class="scroll-button left" @click="scrollLeft">&#8249;</div>
      <div class="scroll-button right" @click="scrollRight">&#8250;</div>
      <div class="comics-list" ref="comicsList">
        <div class="grid-container">
          <div v-for="comic in sciFiComics" :key="comic.id" class="comic-card">
            <div class="comic-favorite" @click="toggleFavorite(comic)">
              <i class="heart-icon fas fa-heart" :class="{ 'favorite': isFavorite(comic) }"></i>
            </div>
            <img
                :src="getThumbnailURL(comic.thumbnail)"
                alt="Thumbnail"
                class="comic-image"
                @click="navigateToFav(comic.id)"
            />
            <div class="comic-details">
              <h2 class="comic-title">{{ comic.title }}</h2>
              <ul class="comic-creators">
                <li v-for="creator in comic.creators.items" :key="creator.name">{{ creator.name }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
export default {
  computed: {
    ...mapState(['comics', 'favorites']),
    isLoading() {
      return this.comics.length === 0;
    },
    isLoadingSciFi() {
      return this.sciFiComics.length === 0;
    },
    sciFiComics() {
      return this.comics;
    },
    favoriteCount() {
      let count = 0;
      for (const comic of this.comics) {
        if (this.isFavorite(comic)) {
          count++;
        }
      }
      return count;
    },
  },
  mounted() {
    this.fetchComics();
  },
  methods: {
    ...mapActions(['fetchComics', 'toggleFavorite']),
    getThumbnailURL(thumbnail) {
      return `${thumbnail.path}.${thumbnail.extension}`;
    },
    navigateToFav(comicId) {
      this.$router.push({ name: 'FavPage', params: { id: comicId.toString() } });
    },
    scrollLeft() {
      const listContainer = this.$refs.comicsList;
      if (!listContainer) return;
      listContainer.scrollBy({
        left: -200,
        behavior: 'smooth',
      });
    },
    scrollRight() {
      const listContainer = this.$refs.comicsList;
      if (!listContainer) return;
      listContainer.scrollBy({
        left: 200,
        behavior: 'smooth',
      });
    },
    isFavorite(comic) {
      return this.favorites && this.favorites.includes(comic.id);
    },
  },
};
</script>

<style lang="scss">
.body {
  background-color: black;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.navbar {
  margin-bottom: 0;
}

.main-title {
  text-align: center;
  margin-block-start: 0;
}

.sub-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  color: gray;
}

.loading-message {
  margin: 20px;
  font-size: 18px;
  text-align: center;
}

.comics-list-container {
  position: relative;
  overflow-x: hidden;
  padding-bottom: 20px;
}

.comic-image-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%; /* Maintain a square aspect ratio (1:1) */
  overflow: hidden;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.background-image {
  background-repeat: no-repeat;
  background-position: center center;
  height: 800px;
  background-size: cover;
}

.scroll-button:hover {
  background-color: #aaa;
}

.scroll-button.left {
  left: 10px;
}

.scroll-button.right {
  right: 10px;
}

.comics-list {
  display: flex;
  overflow-x: auto;
}

.grid-container {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
  padding: 20px;
}

.comic-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  position: relative;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.comic-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 16px;
}

.comic-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Fill the container without distorting the image */
}

.heart-icon {
  color: blue; /* Initial blue color */
}

.heart-icon.favorite {
  color: red; /* Red color when favorited */
}

.background-header-image {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.comic-header-image {
  position: relative;
  max-width: 28%;
  max-height: 28%;
  object-fit: cover;
}

.comic-header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 42px;
  background-image: linear-gradient(to right,rgba(186, 187, 179, 255), rgba(173, 171, 156, 255), rgba(127, 122, 103, 255),rgba(25, 19, 5, 255),rgba(135, 130, 111, 255), rgba(149, 148, 130, 255));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.detail-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
  padding: 10px 20px;
  border: 2px solid transparent;
  outline: none;
  background: linear-gradient(to right, rgba(106,107,125,255), rgba(120,125,144,255), rgba(230,236,250,255), rgba(128,133,152,255), rgba(82,84,99,255), rgba(69,68,76,255));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
}

.detail-button:hover {
  background: linear-gradient(to right,rgba(111,49,36,255),rgba(71,33,24,255), rgba(230,236,250,255), rgba(43,14,10,255),rgba(71,41,41,255));
  color: white;
  border-color: white;
}

.comic-description {
  font-size: 20px;
  font-weight: bolder;
  margin: 10px;
  padding: 20px;
  color: gray;
}

.comic-creators {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.comic-creators li {
  font-size: 14px;
}

.comic-favorite {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: red;
  cursor: pointer;
  z-index: 8;
}

.favorite-count {
  font-size: 14px;
  padding-right: 20px;
  color: gray;
}

</style>
