<template>
    <header :class="{'navbar-fixed': fixedNavbar}">
      <nav class="navbar">
        <router-link to="/" class="logo link-no-underline">
          Netflix
        </router-link>
        <ul class="nav-links">
          <li class="nav-link"><router-link to="/">Ana Sayfa</router-link></li>
        </ul>
      </nav>
    </header>
  </template>
  
  <script>
  export default {
    name: 'AppNavbar',
    data() {
      return {
        fixedNavbar: false,
      };
    },
    mounted() {
      window.addEventListener('scroll', this.handleScroll);
    },
    beforeUnmount() {
      window.removeEventListener('scroll', this.handleScroll);
    },
    methods: {
      handleScroll() {
        const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
        this.fixedNavbar = scrollTop > 0;
      },
    },
  };
  </script>
  
  <style lang="scss" scoped>
  .navbar {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: top 0.8s ease;
  }
  
  .logo {
    font-size: 36px;
    font-weight: bold;
    color: red;
    padding-left: 30px;
    font-family: "Arial Black" ;
    cursor: pointer ;
  }

  .link-no-underline {
    text-decoration: none;
  }
  
  .nav-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-link {
    padding-right: 20px;
  }
  
  .nav-link a {
    color: white;
    text-decoration: none;
  }
  
  .nav-link a:hover {
    text-decoration: underline;
  }
  
  .navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  </style>
  